body
{
  background: white;
  /*background: rgba(102, 217, 144, 1);*/
}
.row1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.row2{
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

.intro{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  position: absolute;
  margin-top: 50vh;
  text-align: center;
  width: 100vw;
  justify-content: center;

}
.outro{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  position: absolute;
  margin-top: 20vh;
  text-align: center;
  width: 100vw;
  justify-content: center;
  opacity: 0;

}
  
  /* Create four equal columns that sits next to each other */
  .column1 {
    display: flex;
    justify-content:space-evenly;
    flex: 30%;
    max-width: 23%;
    max-height: 40%;
    padding: 0 4px;
    opacity: 0;

  }
  
  .column1 img {
 /*   border: 10px solid rgba(102, 217, 144, 1);*/
    padding: 15px;
    
    border-width: 5px;
    vertical-align: middle;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit:scale-down;
  }

  .column2 {
    display: flex;
    justify-content: center;
    flex: 16%;
    max-width: 16%;
    padding: 0 4px;

  }
  
  .column2 img {
    vertical-align: middle;
    margin: 0;
    max-width: 100%;
    max-height: 30%;
  }

  #emotionline{
      position:absolute;
      top: 80%;
      width: 100%;
      text-align: center;
 
  }

  #emotiontitle{
      position: absolute;
      top: 76%;
      width: 100%;
      text-align: center;
  }

  button {

    display:  none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
    padding: 0.5rem 1rem;
  
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  
    position: absolute;
    top: 70%;
    width: 10%;
    left: 45%;
    right: 45%;
    
    border: none;
    border-radius: 4px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    
  }

  button:hover
{
  background: rgb(143, 143, 255);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');